<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Category One</string>
		<key>image</key>
		<string>row1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Category Two</string>
		<key>image</key>
		<string>row1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Category Three</string>
		<key>image</key>
		<string>row1.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Category Four</string>
		<key>image</key>
		<string>row1.png</string>
	</dict>
	<dict>
		<key>image</key>
		<string>row1.png</string>
		<key>name</key>
		<string>Category Five</string>
	</dict>
	<dict>
		<key>image</key>
		<string>row1.png</string>
		<key>name</key>
		<string>Category Six</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Category Seven</string>
		<key>image</key>
		<string>row1.png</string>
	</dict>
</array>
</plist>
